.vbox_background_center{
}
.vbox_background_right{
    -fx-background-color:#999999;
}
.loginButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Hiệu ứng khi bấm nút */
.loginButton:pressed {
   -fx-opacity: 0.8
}
.exitButton:hover {
     -fx-scale-x: 1.2;
     -fx-scale-y: 1.2;
}
v.exitButton:pressed {
    -fx-opacity: 0.5
}
