.search-container{
    -fx-border-color:#6F6F6F;
    -fx-border-radius:30;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.choice-box .menu-item {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color:#6F6F6F;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-background-color:white;
    -fx-text-fill: black;
}
.side-bar-left{
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
}

.side-bar-left-item{
    -fx-padding: 10;
    -fx-cursor: hand;
}
.side-bar-left-item:hover{
    -fx-background-color: #80cbfa;
}

.side-bar-right{
    -fx-padding: 10;
}
/* Khi rê chuột vào một mục */
.choice-box .menu-item:hover {
    -fx-background-color: #DCDCDC;
}

/* Khi chọn một mục */
.choice-box .menu-item:focused {

    -fx-background-color: #454545;
}
.choice-box .context-menu{
    -fx-background-radius:20px;
    -fx-translate-x: -10px;
    -fx-background-color: rgba(0,0,0,0);
}
.lable-items {
    -fx-font-weight: bold;
}
.card{
    -fx-background-color:#fff;
    -fx-background-radius:10;
    -fx-effect: dropshadow(gaussian, rgba(204, 204, 204, 0.5), 10, 0.5, 5, 5);
}
.card2{
    -fx-background-color:#fff;
    -fx-background-radius:10;
    -fx-effect: dropshadow(gaussian, rgba(204, 204, 204, 0.5), 10, 0.5, 5, 5);
}
.card3{
    -fx-background-color:#fff;
    -fx-background-radius:10;
    -fx-effect: dropshadow(gaussian, rgba(204, 204, 204, 0.5), 10, 0.5, 5, 5);
}
.rounded-image {
    -fx-background-radius: 50;  /* Bo tròn góc */
    -fx-border-radius: 50;      /* Bo tròn viền */
    -fx-border-color: white;    /* Viền trắng (có thể thay đổi) */
    -fx-border-width: 3px;      /* Độ dày viền */
    -fx-padding: 3px;           /* Tạo khoảng cách giữa ảnh và viền */
}
