.manage-client-header{
    -fx-background-color: #2686ea;
}
.manage-client-header-text{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.btn-search{
    -fx-background-color: #4fb3f1;
    -fx-cursor: HAND;
}

.btn-refresh{
    -fx-background-color: #4DB6AC;
    -fx-cursor: HAND;
}