.manage-client-header{
    -fx-background-color: #2686ea;
}

.manage-client-header-text{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.btn-search{
    -fx-background-color: #4fb3f1;
    -fx-cursor: HAND;
}

.btn-add{
    -fx-cursor: HAND;
    -fx-background-color: #07bc07;
}

.btn-modify{
    -fx-background-color: #edc72c;
    -fx-cursor: HAND;
}

.btn-delete{
    -fx-background-color: red;
    -fx-cursor: HAND;
}

.btn-refresh{
    -fx-background-color: #4DB6AC;
    -fx-cursor: HAND;
}

.row-view{
    -fx-fixed-cell-size: 64.1px;
}


